body {
  margin: 0;
  font-family: 'Bodoni Moda', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 100%;
  min-height: 1200px;
  background-image: url('media/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.babypic {
  width: 75%;
  border-radius: 5px;
  background-color: white;
  padding: 25px;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.nav-link {
  text-decoration: overline underline;
  text-decoration-style: wavy;
  color: black;
}

.nav-link:hover {
  color: white;
}

.active {
  display: none;
}

.href {
  color: black;
  text-decoration: none;
}
